@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, coffee, retro, dracula;
}
@plugin "daisyui/theme" {
  default: true; 
  --color-primary: #00cc44;
  --color-primary-content: #003300;
  --color-secondary: #e6ffe6;
}

* {
  font-family: "Underdog", system-ui;
}

li a.active {
    color: green;
}